rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
      match /events/{event} {
      allow read: if true;
      allow write: if true;
    }

    match /users/{userId} {
      // allow a signed-in user to create their own profile if it doesn’t exist yet
      allow create: if request.auth != null
        && request.auth.uid == userId;
      // allow authenticated users to read profiles
      allow read: if request.auth != null;
      // allow them to update and write their own profiles
      allow update, write: if request.auth != null
        && request.auth.uid == userId;

      // Allow user to update only their 'friends' array
      allow update: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['friends']);
    }

    match /events/{eventId} {
      allow read: if request.auth != null; // Allow authenticated users to read events
      allow create: if request.auth != null
        && request.resource.data.ownerId == request.auth.uid;
      allow read, write: if request.auth != null
        && request.auth.uid in resource.data.attendees;
      allow update, delete: if request.auth != null
        && resource.data.ownerId == request.auth.uid;
      allow update: if request.auth != null
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['attendees']);
    }

    match /notifications/{notificationId} {
      // Allow users to read and update their own notifications
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      // Optionally, allow creation if the notification is for the user
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      // Optionally, allow delete if the notification belongs to the user
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
